# Archivo .gitignore para el proyecto NumerosYCalculos

# Ignora los .tmp y archivos de respaldo
*.tmp
*~

# Directorios de compilación generados por los scripts
build_*/
build

# Archivos de configuración del editor
.vscode/

# Archivos de vcpkg (si se usa localmente)
vcpkg/
vcpkg_installed/
.fake